/*все отступы и поля элемента будут установлены на ноль
*{margin:0;padding:0;}
*/
body{font-family:roboto;}

/*header*/
header .head-top{
    height: 120px;
    background-color: #008080;
}
.header-wrap{
    background-color:#2F4F4F;
}
/*логотип*/
.logo{
    height:100px;
    width:100px;

}
/*название*/
.name{
    color:#fff;
}
/*контент*/
.wrapper{
    background-color:#AFEEEE;
}

/*table{
    border-spacing:5px;
    color:rgb(0, 0, 0);
    border-radius:20px;
    width:60%;
    border-collapse: collapse;
}*/

/*ссылки в контенте*/
li a{
    color: #000;
}
/**/
th, td { 
   padding: 10px; 
   border: 1px solid black;
} 

tr:nth-child(even) { 
   background-color: #DCDCDC; 
} 
   
tr:nth-child(odd) { 
   background-color: #A9A9A9; 
}
/*футер*/
.footer {
	background-color: #2F4F4F;
	color: white;
}

